<div class="container">
  <div class="row">
    <div class="col-xs-11 col-md-10 col-centered">

      <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi" data-interval="2500">
        <div class="carousel-inner">
          <div class="item active"> 

            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top"
                src="img/events/annual/ayappa.jpg"
                alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Sastha Mandala Pooja</h4>
                  <p class="card-text">Lord Sasta, also popularly known as Lord Ayyappa is child of
                    Shiva and Vishnu in female form. Sastha having a name of
                    Annadhana Prabhu, VEDA Circle begins the new
                    year with aplomb celebrating with pooja to Lord Ayyappa and annadhana</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top"
                src="img/events/monthly/sanatan_shiva.jpg"
                alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Maha
                  Sivaratri Pooja</h4>
                  <p class="card-text">Maha Shivaratri is celebrated on the Krishna Paksha Chaturdashi of the month of Maasi
                    which falls in February or March. Of the twelve Shivaratris in the year, the Maha
                    Shivarathri is the most holy. On this night abishekam is offered to Lord Shiva
                  throughout the night and he is celebrated by offerings of Bilva leaves.</p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top"
                src="img/events/annual/ram_parivar.jpeg"
                alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Sri Rama Navami
                  Pooja</h4>
                  <p class="card-text">Rama Navami celebrates the birth of Lord Rama. Rama Navami falls in the Shukla Paksha on
                    the Navami, the ninth day of the month of Chaitra in the Hindu calendar and marks the
                    end of the nine-day Vasanta Navaratri celebrations. Rama Navami is celebrated with
                   pooja and the prasad of neer-mor (buttermilk) and panagam.</p>
                  
                </div>
              </div>
            </div> 

         
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" style="width: 300px; height: 100px;"
                  src="img/events/annual/gurus.png"
                  <div class="card-body">
                    <h4 class="card-title">Sankara, Ramanuja &amp;
                    Madhva Jayanthis</h4>
                    <p class="card-text">The life and the work of the three important religious philosophers of our Santhana
                      Dharma by celebrating the day of their Jayanti. Ashotothra Namavallis in praise of the
                      gurus are chanted followed by vedic chanting. In celebrating the Jayantis, the VEDA
                    Circle keeps up our tradition of respecting our gurus.</p>

                  
                </div> 
              </div>
            </div>

              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/hanuman.jpg"
                  <div class="card-body">
                    <h4 class="card-title">Hanuman
                    Jayanthi</h4>
                    <p class="card-text">Hanuman Jayanthi is observed either in Chaitra (usually on the day of Chaitra Pournimaa)
                      or in Dhanu (called Margazhi in Tamil). Hanuman is the symbol of strength and energy.
                    Chanting of Hanuman Chalisa, it removes all obstacles in life.</p>
                    
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/avani-avittam.jpg" style="width: 250px; height: 200px;"
                  <div class="card-body">
                    <h4 class="card-title">Upakarma, Gayatri Japam
                    and Homam</h4>
                    <p class="card-text">The learning of the Vedas begins in the month of Aavani with the Upakarma. On this day Homams are held and Poonal, the sacred thread, is changed.
                      This day is also auspicious as the Brahmins offer libations of water to their ancestors
                      to whom they owe their birth and to the great Rishis to whom they are highly indebted
                      for spiritual knowledge and the Vedas themselves.
                      Every year, on the day of Gayatri Japam, the Gayatri mantra is chanted 1008 times, as a prayaschitta (atonement) for
                      faults that one has knowlingly and unknowingly committed.</p>

                  </div>
                </div>
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/lord-krishna-jhula.jpeg"
                  <div class="card-body">
                    <h4 class="card-title">Krishna Janmashtami Pooja</h4>
                    <p class="card-text">Krishna Janmashtami, also known Gokulashtami, is festival that celebrates the birth of Lord Krishna, the eighth avatar of Vishnu. It is observed on the eighth day (Ashtami) of the Krishna Paksha (dark fortnight) in Shraavana maasa and which overlaps with August and September. It is celeberated with pooja followed by devotional singing through the midnight.</p>
                    
                  </div>
                </div> 
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/vyasa.jpeg"
                  <div class="card-body">
                    <h4 class="card-title">Guru
                                Poornima Pooja and VEDA Circle Day</h4>
                    <p class="card-text">The Full Moon Day in the month of Ashadha (July-August) is known as Guru Purnima.This
                                was the day, when Krishna-Dwaipayana Vyasa was born to sage Parashara and Satyavati,
                                thus this day is also celebrated as Vyasa Poornima. This day is celebrated in honour of
                                the great sage Vyasa, who is seen as one of the greatest gurus in ancient Hindu
                                traditions and a symbol of the Guru-shishya tradition. This day is observed by offering
                                puja to one&rsquo;s guru and the guru parampara. <br/>VEDA Circle celeberates Guru Poornima day as commemmoration anniversary of the organization.
                                The main purpose and vision of VEDA Circle is to propagation of Veda and Vedic tradition, and our Honorable Guru Pandit Sivaramakrishnan living by that vision and executing that vision tirelessly in our community by teaching Veda to all in our community and beyond. So to live by example, VEDA Circle honors our Guru on this day as part of the annual event.</p>
                    
                  </div>
                </div> 
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/vinayagar.jpg"
                  <div class="card-body">
                    <h4 class="card-title">Vinayaka
                                Chaturthi Pooja</h4>
                    <p class="card-text">Vinayaka Chaturthi is celebrated on the fourth day after new moon in the month of
                                aavani. On this day Ganesh idols made of clay are worshipped in all homes. Ganesh is
                                decorated with garlands and worshipped with durva grass (arukampul). Modak, ladoo and
                                other dishes are offered to Ganesha to remove all obstacles and bless the devotee with
                                prosperity.</p>
                    
                  </div>
                </div> 
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/chandi.jpg"
                  <div class="card-body">
                    <h4 class="card-title">Navaratri Deepa Pooja & Chandi Homam</h4>
                    <p class="card-text">The Worship of Goddess Chandi highlights the importance of feminine energy. Chandi Homam
                                is one of the most popular Homas during
                                Navarathri. The core of the ceremony involves a recitation of 700 verses of the Durga
                                Saptashati. With the recitation of each verse, offerings are made in the sacrificial
                                fire invoking the Goddess. The performance of Chandi Homa, frees one of curses,
                                obstacles and blesses them with a lasting health, wealth and prosperity.</p>
                    
                  </div>
                </div> 
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/6veedu.jpg"
                  <div class="card-body">
                    <h4 class="card-title">Arupadai Veedu Utsavam</h4>
                    <p class="card-text">Skanda Sashti Kavacham&nbsp; (கந்த சஷ்டி கவசம்) was composed by Sri Devaraya Swamigal in
                                19th century. Devotees attest that regular chanting of this kavacham resolves all the
                                predicaments of life and provides enormous mental strength. Sri Devaraya Swamigal
                                asserts in his composition.
                                <br/>VEDA Circle began organising a Arupadai Veedu Sashti Utsavam at 6 different locations in
                                USA similar to 6 veedu at Tamilnadu and celeberate Sashti Utsavam and Soora Samharam for
                                the welfare of community.</p>
                    
                  </div>
                </div> 
              </div>

              <div class="item">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top"
                  src="img/events/annual/Arunahala-Deepam.jpg"
                  <div class="card-body">
                    <h4 class="card-title">Karthigai Deepa Pooja</h4>
                    <p class="card-text">VEDA Circle celeberates Karthigai Deepam festival with Deepa Pooja. Kartigai Deepam is celebrated in the Tamil month of Karthigai. It is celebrated on the full moon day of the Karthigai month(November-December) which coincides with Karthika star. One must light deepam every evening in the entrance and do the pooja on all the 30 days of this month. This festival is celebrated in a special manner in Thiruvannamalai. Lord Shiva takes the form of a jyothi (light of fire) on the hill of Thiruvannamalai. Therefore, this festival is also known as Annamalai Deepam. Here, a special deepam is lighted on the zenith of the hill and it is believed that Lord Shiva's jothi will be visible on this day. Lord Muruga took the form of six babies in a lake called "Saravana Poigai". On this day, all his six forms were united by Parvathi (his mother) and this way, he had six faces. Special poojas are performed to Lord Muruga. </p>
                    
                  </div>
                </div> 
              </div>

              
            

            <div class="col-md-4">
              <div class="card mb-2">
                <img class="card-img-top"
                src="img/events/monthly/sanatan_shiva.jpg"
                alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title">Annual Mahanyasa Poorvaka Ekadasa Rudra Parayanam</h4>
                  <p class="card-text">VEDA Circle concludes every year in a spiritual way by performing Mahanyasa Poorvaka Ekadasa Rudra Parayanam during last week of Decemenber.</p>
                </div>
              </div>
            </div>

          </div>

          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
