<section class="cards-section text-center">
            <div class="container">
                <h2 class="title">VEDA Circle sponsors!</h2>
                <div class="intro">
                    <p style="color:white">At our VEDA Circle non-profit organization, we value each and every donation we receive from our supporters. With this in mind, it’s our goal to show donors how we contribute and help towards other charity organization.</p>
                   
                    </div> 
                </div><!--//intro-->
                <div id="cards-wrapper" class="cards-wrapper row">
                    <div class="item item-green col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">Sankara Nethralaya</h3>
                            <p class="intro">VEDA Circle partner sponsored Smt. Sudha Ragunathan charity concert. Donations will go to Sankara Nethralaya for treating the blind and visually impaired all over India</p>  
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-pink item-2 col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">Shri Lakshmi Narayan Mandir Maharudram</h3>
                            <p class="intro">VEDA Circle supported and partnered with Lakshmi Narayan mandir, Riverside for Maharudram event</p> 
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-blue col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">Siva Vishnu Temple Maharudram</h3>
                            <p class="intro">VEDA Circle supported and partnered with Siva Vishnu Temple, Sandiego for Maharudram event.</p> 
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-purple col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">MGTOA Maharudram</h3>
                            <p class="intro">VEDA Circle supported and partnered with Maha Ganapati Temple, Arizona for Maharudram event</p> 
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-primary col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">San Diego Maharudram</h3>
                            <p class="intro">VEDA Circle supported and partnered with Veda Geetha Foundation, Sandiego for Maharudram event. </p> 
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item item-orange col-lg-4 col-6">
                        <div class="item-inner">
                            <div class="help-service">
                              <div class="icon"></div> 
                            </div>
                            <h3 class="title">Shri Lakshmi Narayan Mandir Maharudram</h3>
                            <p class="intro">VEDA Circle supported and partnered with Lakshmi Narayan mandir, Riverside for Maharudram event.</p> 
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//cards-->
                
            </div><!--//container-->
        </section>