
<div id="org" class="containerp vc-hidden-small">
  <div class="cardp card--front">
    <div class="logo">
       <img class="logo__img avatar" src="img/vyasa.jpg">
    </div>
    <div class="text">  <p class="head">
        <h1 class="head__name">
          <b class="name__fn">Agoram </b> Sivaramakrishnan
        </h1>
        <p class="head__subtitle">Our Honourable Guru</p>
          <div style="font-size:12px">
            Pandit Sivaramakrishnan had his
                              Adhyanam
                              from two
                              eminent organizations:
                              H.H. Sri Kanchi Kamakoti Shri Mahaswami Vidya Peeta Trust at Sivasthanam in
                              Thenambakkam,
                              Kanchipuram and
                              Thiruvidaimarthur Prayoga Pathasala attached to the Kanchi Sankara Mutt.
                              Currently, he is the Chief Priest at the Sanatan Dharma Temple. 
          </div> 
      </p>
    </div>
  </div>

  <div class="cardp card--back">
    <div class="card__content">
        
        <div class="section-heading" >
            <h4 style="color:white">Board of Directors</h4>
            <div class="line-dec" style="background-color: #fff"></div>
        </div>
        
         <table border="0" cellpadding="0" cellspacing="0" style="margin-left:50px;font-size:12px" dir="ltr">  
            <tbody> 
              <tr>
                  <td  height="19" style="width: 50px; height: 19px;"> 
                      Chairman
                  </td>
                  <td align="left" height="19" style="width: 50px; height: 19px;"> 
                      Shridar Ayer
                  </td> 
              </tr>
              <tr>
                  <td  height="19" style="width: 224px; height: 19px;"> 
                      Board Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;">  
                      Dr. Padmini Iyer
                  </td>

              </tr>
              <tr>
                  <td  height="19" style="width: 224px; height: 19px;"> 
                      Board Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;"> 
                      Dr. Savitri Krishnamurthy
                  </td>

              </tr>
              <tr>
                  <td  height="20" style="width: 224px; height: 19px;"> 
                      Board Member
                  </td>
                  <td align="left" height="20" style="width: 224px; height: 19px;">  
                      Dr. Sivarama Prasad Vinjamury
                  </td>

              </tr>
              <tr>
                  <td  height="19" style="width: 224px; height: 19px;"> 
                      Board Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;">  
                      Venu Venkataraman
                  </td>
              </tr> 
            </tbody>
        </table>
        <div class="section-heading" >
            <h4 style="color:white">Executive Committee Members</h4>
            <div class="line-dec" style="background-color: #fff"></div>
        </div>
      <div class="row" style="font-size:12px;margin-left:20px" >
          <div class="col-md-2" >
             President
          </div>
           <div class="col-md-2" >
              Prasanna Janardana
          </div>
         <div class="col-md-2" >
             Secretary
          </div>
           <div class="col-md-2" >
             SivaSubramanian Venkataramani
          </div>
          <div class="col-md-2" >
             Treasurer
          </div>
         <div class="col-md-2" >
              Karthik Muthukrishnan
          </div>
        </div>
       <div class="row" style="font-size:12px;margin-left:20px" > 
         <div class="col-md-2" >
             EC Member
          </div>
           <div class="col-md-2" >
              Dr. Sailaja Reddy
          </div>
         <div class="col-md-2" >
             EC Member
          </div>
           <div class="col-md-2" >
              Anu Ram
          </div>
         <div class="col-md-2" >
             EC Member
          </div>
           <div class="col-md-2" >
             Latha Ganesh
          </div>
        </div> 
      <div class="row" style="font-size:12px;margin-left:20px" >
          <div class="col-md-2" >
             EC Member
          </div>
           <div class="col-md-2" >
               Giri Chandrasekaran
          </div>
         <div class="col-md-2" >
             EC Member
          </div>
           <div class="col-md-2" >
              Surendar Kesavan
          </div>
        </div>   
  </div>

  <div class="card-shadow"></div>

  </div>
</div>
<div class="containerp vc-visible-small vc-hidden-large">
<div class="col-md-3 col-sm-6 col-xs-12"> 
    <div class="section-heading">
        <h4>BOARD OF DIRECTORS</h4> 
    </div>
     <table border="0" cellpadding="0" cellspacing="0" dir="ltr">  
          <tbody> 
            <tr>
                <td align="left"  height="19" style="width: 50px; height: 19px;"> 
                    Chairman
                </td>
                <td align="left" height="19" style="width: 50px; height: 19px;"> 
                    Shridar Ayer
                </td> 
            </tr>
            <tr>
                <td align="left"  height="19" style="width: 224px; height: 19px;"> 
                    Board Member
                </td>
                <td align="left" height="19" style="width: 176px; height: 19px;">  
                    Dr. Padmini Iyer
                </td>

            </tr>
            <tr>
                <td align="left"  height="19" style="width: 224px; height: 19px;"> 
                    Board Member
                </td>
                <td align="left" height="19" style="width: 176px; height: 19px;"> 
                    Dr. Savitri Krishnamurthy
                </td>

            </tr>
            <tr>
                <td align="left"  height="20" style="width: 224px; height: 19px;"> 
                    Board Member
                </td>
                <td align="left" height="20" style="width: 224px; height: 19px;">  
                    Dr. Sivarama Prasad Vinjamury
                </td>

            </tr>
            <tr>
                <td align="left"  height="19" style="width: 224px; height: 19px;"> 
                    Board Member
                </td>
                <td align="left" height="19" style="width: 176px; height: 19px;">  
                    Venu Venkataraman
                </td>
            </tr> 
          </tbody>
      </table>
       <div class="section-heading" >
            <h4>Executive Committee Members</h4> 
        </div>
        <table border="0" cellpadding="0" cellspacing="0" dir="ltr" > 
              <tbody>

              <tr>
                  <td align="left"  height="19" style="width: 50px; height: 19px;"> 
                      President
                  </td>
                  <td align="left" height="19" style="width: 50px; height: 19px;">  
                      Prasanna Janardana
                  </td>  
              </tr>
              <tr>
                  <td align="left"  height="19" style="width: 224px; height: 19px;">  
                      Secretary
                  </td>
                  <td align="left" height="19" style="width: 250px; height: 19px;"> 
                      SivaSubramanian Venkataramani
                  </td>

              </tr>
              <tr>
                  <td align="left"  height="19" style="width: 224px; height: 19px;">  
                      Treasurer
                  </td>
                  <td align="left" height="19" style="width: 300px; height: 19px;">
                      Karthik Muthukrishnan
                  </td>

              </tr>
              <tr>
                  <td  align="left" height="20" style="width: 224px; height: 19px;"> 
                      EC Member
                  </td>
                  <td align="left" height="20" style="width: 176px; height: 19px;"> 
                      Anu Ram
                  </td>

              </tr>
              <tr>
                  <td align="left"  height="19" style="width: 224px; height: 19px;"> 
                      EC Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;"> 
                      Giri Chandrasekaran
                  </td>
              </tr>
              <tr>
                  <td align="left"  height="15" style="width: 224px; height: 16px;">  
                      EC Member
                  </td>
                  <td align="left" height="15" style="width: 176px; height: 16px;">   
                      Latha Ganesh
                  </td>

              </tr>
              <tr>
                  <td align="left"  height="20" style="width: 224px; height: 19px;">  
                      EC Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;">
                      Dr. Sailaja Reddy
                  </td>
              </tr>
              <tr>
                  <td align="left"  height="19" style="width: 224px; height: 19px;"> 
                      EC Member
                  </td>
                  <td align="left" height="19" style="width: 176px; height: 19px;"> 
                      Surendar Kesavan
                  </td>
              </tr>
              </tbody>
          </table>
    </div>
  </div>
</div>
 
